/*.bin
/*.mode
/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/ap_include.am
/autom4te.cache
/config
/config.in
/config.log
/config.status
/configure
/es-oc.t1x
/es-oc.t2x
/es-oc.t3x
/es-oc@aran.t1x
/es-oc@aran.t2x
/es-oc@aran.t3x
/install-sh
/missing
/modes
/oc-es.t1x
/oc-es.t2x
/oc-es.t3x
/oc@aran-es.t1x
/oc@aran-es.t2x
/oc@aran-es.t3x
/stamp-h1
/*.hfst
/*.gz
/*.pc
/*.zhfst
/.DS_Store
/*-*.prob
/test/*-output.txt
